<table class="table table-bordered table-hover container mt-4">
        <thead class="thead-light">
            <tr>
                <th>S.NO</th>
                <th>name</th>
                <th>username</th>
                <th>email</th>
                <th>website</th>
                <th>Address</th>
               
            </tr> 
        </thead>
         <tbody>
            <tr *ngFor = 'let tcode of typicode; index as i'>
                <td>{{i+1}}</td>
                <td>{{tcode.name}}</td>
                <td>{{tcode.username}}</td>
                <td>{{tcode.email}}</td>
                <td>{{tcode.website}}</td>
                <td>{{tcode.address.suite}} <br>
                    {{tcode.address.street}} <br>
                    {{tcode.address.city}} <br>
                    {{tcode.address.zipcode}} <br>
                </td>
            
            </tr>
         </tbody>
    </table>