
<table class="table table-bordered table-hover container mt-4">
    <thead class="thead-light">
        <tr>
        <th>index</th>
        <th>email</th>
        <th>name</th>
        <th>tel</th>
        <th>update</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = 'let user of firebaseService.users; index as i'>
            <td>{{i+1}}</td>
            <td>{{user.email}}</td>
            <td>{{user.name}}</td>
            <td>{{user.tel}}</td>
            <td>
                <button class="btn btn-outline-warning"
                 (click)='updateUser(user)'>update</button>
            </td>
            <td>
                <button class="btn btn-outline-danger" (click) = 'deleteUser(user)'>Delete
            
                </button>
            </td>
        </tr>
    </tbody>
</table>
