<div class="container">
<div class="card card-body col-md-4 mt-2 offset-4" >
<h3 class="text-center">Registration</h3>
<div>
    <label for="">Username</label>
    <input type="text" class="form-control" placeholder="enter username">
</div>
<div>
    <label for="">email</label>
    <input type="email" name="email" id="" class="form-control" placeholder="enter email">
</div>
<div>
    <label for="">Password</label>
    <input type="password" name="pswd" id="" class="form-control" placeholder="password">
</div>
<div>
    <label for="">Mobile</label>
    <input type="number" name="num" id="" class="form-control">
</div>
<div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button class="btn btn-primary">Reset</button>
    <button class="btn btn-danger">Cancel</button>
</div>
</div>
</div>
