table, th, td{
   /* border: 1px solid black;
    border-collapse: collapse;*/
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    font-family:  Tahoma;
    font-size: 20px;
}
table{
    width: 100%;
}
th{
    background-color:blue;
    color:white;
}
tr:nth-child(even){
    background-color:gray
}
tr:nth-child(odd){
    background-color: rgb(20, 220, 110);
}
td:hover{
    background-color: steelblue;
    color: white;
}