.add{
    color: red;
    background-color: white;
}
.add1{
    font-size: 20px;
}
.add2{
    border: 1px solid black;
}
.blue{
    color: red;
    background-color: green;
}
.fonts{
    font-size: 50px;
}